<div id="settingModal" class="modal">
    <div class="modal-content">
        <span class="close" id="closeModal">&times;</span>
        <form>
            <label>Type</label>
            <select id="levelGroup" data-lan="en">
                <option value="1">+/- within 10</option>
                <option value="2">+/- within 100</option>
                <option value="3">×/÷</option>
                <option value="4" selected>Decimals</option>
                <option value="7">Rationals</option>
            </select>
            <label>Quantity</label>
            <select id="numPerGroup">
                <option value="1">1</option>
                <option value="3">3</option>
                <option value="5">5</option>
                <option value="10">10</option>
            </select>
            <label>Level</label>
            <select id="sizeGroup">
                <option value="1">Monomial</option>
                <option value="2" selected>Polynomial</option>
            </select>
          </form>
    </div>
</div>