
<div id="settingModal" class="modal">
    <div class="modal-content">
        <span class="close" id="closeModal">&times;</span>
        <form>
          <label>类型</label>
          <select id="levelGroup" data-lan="cn">
            <option value="1">10以内</option>
            <option value="2">100以内</option>
            <option value="3">乘除</option>
            <option value="4" selected>小数&分数</option>
            <option value="7">有理数</option>
          </select>
          <label>题量</label>
          <select id="numPerGroup">
            <option value="1">1</option>
            <option value="3">3</option>
            <option value="5">5</option>
            <option value="10">10</option>
          </select>
          <label>难度</label>
          <select id="sizeGroup">
            <option value="1">单项</option>
            <option value="2" selected>多项</option>
          </select>
        </form>
    </div>
</div>