
<div id="settingModal" class="modal">
    <div class="modal-content">
        <span class="close" id="closeModal">&times;</span>
        <form>
          <label>元</label>
          <select id="levelGroup" data-lan="cn" data-desc="元">
            <option value="1">1</option>
            <option value="2" selected>2</option>
            <option value="3">3</option>
          </select>
          <label>次</label>
          <select id="sizeGroup" data-desc="次">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
          </select>
          <label>题量</label>
          <select id="numPerGroup" data-desc="题量">
            <option value="1">1</option>
            <option value="3">3</option>
            <option value="5">5</option>
            <option value="10">10</option>
          </select>
        </form>
    </div>
</div>