
<div id="settingModal" class="modal">
    <div class="modal-content">
        <span class="close" id="closeModal">&times;</span>
        <form>
          <label>Variable</label>
          <select id="levelGroup" data-lan="en" data-desc="Variable">
            <option value="1">1</option>
            <option value="2" selected>2</option>
            <option value="3">3</option>
          </select>
          <label>Degree</label>
          <select id="sizeGroup" data-desc="Degree">
            <option value="1">1</option>
            <option value="2" selected>2</option>
            <option value="3">3</option>
          </select>
          <label>Quantity</label>
          <select id="numPerGroup" data-desc="Quantity">
            <option value="1">1</option>
            <option value="3" selected>3</option>
            <option value="5">5</option>
            <option value="10">10</option>
          </select>
        </form>
    </div>
</div>